:root {
  --primary-title-color: #ffffff;
  --second-title-color: #2f303a;
  --third-title-color: #e5e5e5;
  --fourth-title-color: #f5f4fa;

  --prymary-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --fourth-text-color: #2196f3;
}
p,
h1,
h2,
h3,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
.link {
  text-decoration: none;
  transition: 250ms ease;
}

.list {
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.last {
  margin-right: 0;
}

/*-----header-------*/

.header {
  background: var(--primary-title-color);
  border-bottom: 1px solid var(--third-title-color);
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__logo {
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  margin-left: 0px;
  margin-right: 95px;
}
.header__spanlogo {
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  margin-right: 50px;
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--prymary-text-color);
  position: relative;
  transition: 250ms ease;
}
.header__link:hover,
.header__link:focus {
  color: var(--fourth-text-color);
}

.header__current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--fourth-text-color);
  display: block;
  bottom: -41px;
}

.header__contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  display: flex;
}
.header__mail:hover,
.header__mail:focus {
  color: var(--fourth-text-color);
  fill: var(--fourth-text-color);
}
.header__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  margin-left: 52px;
}
.header__tel:hover,
.header__tel:focus {
  color: var(--fourth-text-color);
  fill: var(--fourth-text-color);
}
.header__svg {
  margin-right: 10px;
}

/*------main frist page-------*/

.main {
  background: var(--fourth-title-color);
}

/*------hero------*/

.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/we.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__tittle {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero__btn {
  background-color: var(--fourth-text-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: 250ms ease;
}
.hero__btn:hover,
.hero__btn:focus {
  background: #188ce8;
  color: var(--third-text-color);
}

/*--------works--------*/

.works {
  background: var(--primary-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.works__list {
  display: flex;
  align-items: center;
}
.works__icon {
  width: 270px;
  height: 120px;
  background: var(--fourth-title-color);
  margin-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.works-icon__svg {
  width: 70px;
  height: 70px;
  background: var(--fourth-title-color);
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.works-icon__tittle {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--prymary-text-color);
  margin-bottom: 10px;
}
.works-icon__text {
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  max-width: 270px;
  margin-right: 30px;
}
.works__tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
  margin-top: 94px;
  margin-bottom: 50px;
}
.works__image {
  position: relative;
  margin-right: 30px;
}
.works-image__div {
  width: 370px;
  height: 70px;
  background: #2f303acc;
  position: absolute;
  bottom: 0px;
}
.works-image__tittle {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  margin-top: 27px;
}

/*----team------*/

.team {
  background: var(--fourth-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}
.team__list {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
}
.team__item {
  background: var(--primary-title-color);
}
.team__image {
  padding: 30px 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}
.team-image__tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
}
.team-image__text {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
  margin-bottom: 16px;
}
.team-social__list {
  display: flex;
  justify-content: center;
}
.team-social__item {
  width: 44px;
  height: 44px;
}
.team-social__item + .team-social__item {
  margin-left: 10px;
}

.team-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--primary-title-color);
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.team-social__link:focus,
.team-social__link:hover {
  background: var(--fourth-text-color);
}
.team-social__icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  fill: #afb1b8;
}
.team-social__link:focus .team-social__icon,
.team-social__link:hover .team-social__icon {
  fill: var(--third-text-color);
}

/*-------clients-------*/

.clients {
  background: var(--primary-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
}
.clients__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
  padding: 16px 32px 16px 32px;
  transition: 250ms ease;
}
.clients__svg {
  width: 106px;
  height: 60px;
  background-repeat: no-repeat;
  fill: #afb1b8;
  transition: fill 250ms ease;
}
.clients__item:hover,
.clients__item:focus {
  border: 1px solid var(--fourth-text-color);
  border-radius: 4px;
}
.clients__item:hover .clients__svg,
.clients__item:focus .clients__svg {
  fill: var(--fourth-text-color);
}

/*--------footer--------*/

.footer {
  background: var(--second-title-color);
  padding: 60px 0 60px 0;
}
.footer__logo {
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  margin-left: 0px;
  margin-right: 95px;
  margin-bottom: 20px;
  display: block;
}
.footer__spanlogo {
  color: var(--third-text-color);
}
.footer__contacts {
  display: flex;
}
.footer__link {
  font-weight: normal;
  margin-top: 9px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__link:hover {
  color: var(--third-text-color);
}
.footer__social {
  margin-left: 70px;
  margin-top: 0px;
}
.footer-social__tittle {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social__list {
  display: flex;
}
.footer-social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social__link:focus,
.footer-social__link:hover {
  background: var(--fourth-text-color);
}
.footer-social__icon {
  fill: var(--primary-title-color);
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.footer__subscribe {
  margin-left: 93px;
}
.footer-subscribe__tittle {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  background: var(--second-title-color);
  padding: 16px;
  box-shadow: 0px 4px 4px 0px #00000026;
  color: #ffffff99;
}
.footer-subscribe__btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border-radius: 4px;
  background-color: var(--fourth-text-color);
  box-shadow: 0px 4px 4px 0px #00000026;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  position: relative;
}
.footer-btn__icon::after {
  content: url("../images/send.svg");
  margin-left: 10px;
  position: absolute;
  margin-right: 28px;
}
.footer-btn__icon {
  margin-left: -28px;
}

/*------main second page------*/

.projects {
  background: var(--primary-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.projects__link {
  display: flex;
  align-items: center;
  margin-left: 279px;
  margin-right: 279px;
}
.projects-link__item {
  background: var(--primary-title-color);
  margin-right: 8px;
}
.projects-link__btn {
  background: var(--fourth-title-color);
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms ease;
}
.projects-link__btn:hover,
.projects-link__btn:focus {
  background: var(--fourth-text-color);
  color: var(--third-text-color);
}
.projects__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.projects__item {
  background: var(--primary-title-color);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__item:hover .projects-hover__text {
  transform: translateY(0);
}
.projects-item__hover {
  position: relative;
  overflow: hidden;
}
.projects-hover__text {
  color: var(--third-text-color);
  background: #2196f3e5;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.projects-item__name {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20;
}
.projects-name__tittle {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--prymary-text-color);
  margin-bottom: 4px;
  margin-right: 24px;
  margin-left: 24px;
}
.projects-name__text {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 0px;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 20px;
}
.last-bottom {
  margin-bottom: 0px;
}
.last-right {
  margin-right: 0px;
}

/*------modal----------*/

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #00000033;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(2);
}
.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  transform: scale(1);
  transition: transform 300ms ease;
  padding: 40px;
}
.modal__tittle {
  color: var(--prymary-text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}
.modal__data {
  display: block;
  position: relative;
}
.modal__label {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--second-text-color);
}
.modal__input {
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #21212133;
  margin-top: 4px;
  display: inline-block;
  padding-left: 42px;
  outline: none;
}
.modal__input:hover,
.modal__input:focus {
  border: 1px solid var(--fourth-text-color);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal-input__icon,
.modal__input:focus + .modal-input__icon {
  fill: var(--fourth-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 10px;
  top: 50%;
  transform: translateY(-70%);
}
.modal__texterea {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #21212133;
  padding: 12px 16px 12px 16px;
  resize: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 28px;
  margin-top: 4px;
}
.modal__checkbox:checked + .modal-checkbox__label span {
  background-color: var(--fourth-text-color);
  border: none;
}
.modal-checkbox__label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(--second-text-color);
  display: flex;
}
.modal-checkbox__label span {
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid var(--second-title-color);
  margin-right: 7px;
  display: flex;
  align-items: center;
}
.modal-checkbox__icon {
  width: 16px;
  height: 15px;
  fill: var(--primary-title-color);
}
.modal-checkbox__link {
  color: var(--fourth-text-color);
  margin-left: 7px;
}
.modal__btn {
  background-color: var(--fourth-text-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  border: none;
  border-radius: 4px;
  padding: 10px 55px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: 250ms ease;
  box-shadow: 0px 4px 4px 0px #00000026;
}
.modal__btn:hover,
.modal__btn:focus {
  background: #188ce8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid #0000001a;
  background: #ffffff;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.modal__close:hover .modal-close__icon {
  fill: var(--fourth-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close__icon {
  width: 11px;
  height: 11px;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
