.main {
  background: var(--fourth-title-color);
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/we.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__tittle {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero__btn {
  background-color: var(--fourth-text-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: 250ms ease;
}
.hero__btn:hover,
.hero__btn:focus {
  background: #188ce8;
  color: var(--third-text-color);
}
