.team {
  background: var(--fourth-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.works {
  background: var(--primary-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients {
  background: var(--primary-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.projects {
  background: var(--primary-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
