.team-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--primary-title-color);
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  &:focus,
  &:hover {
    background: var(--fourth-text-color);
  }
}
.team-social__icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  fill: #afb1b8;
}
.team-social__link:focus .team-social__icon,
.team-social__link:hover .team-social__icon {
  fill: var(--third-text-color);
}
.footer-social__list {
  display: flex;
}
.footer-social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  &:focus,
  &:hover {
    background: var(--fourth-text-color);
  }
}
.footer-social__icon {
  fill: var(--primary-title-color);
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
