.works {
  background: var(--primary-title-color);
  padding-top: 60px;
  padding-bottom: 60px;
  .works__list {
    align-items: center;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
    }
  }
}

.works__apps {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.works__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

.works__icon {
  width: 100%;
  height: 120px;
  background: var(--fourth-title-color);
  margin-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.works-icon__svg {
  width: 100%;
  height: 70px;
  background: var(--fourth-title-color);
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
}
.works-icon__tittle {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--prymary-text-color);
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.works-icon__text {
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  width: 100%;
  margin-bottom: 30px;
}
.works__tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--prymary-text-color);
  margin-top: 94px;
  margin-bottom: 50px;
}
.works__image {
  position: relative;
  justify-content: center;
  margin-left: 30px;
}

.works-image__div {
  width: 370px;
  height: 70px;
  background: #2f303acc;
  position: absolute;
  bottom: 0px;
}
.works-image__tittle {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  margin-top: 27px;
}
